#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #20303d;
    background-color: #f7f7f7;
    background-size: 100%;
    height: 100vh;
}

html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

nav {
    font-family: Boogaloo;
    text-transform: uppercase;
    font-size: 25px;
    padding: 30px;
    color: #20303d;
}


nav a:hover {
    text-transform: uppercase;
    font-size: 26px;
}

nav a {
    font-weight: bold;
    color: #039be6;
}

nav a.router-link-exact-active {
    color: #fcc02e;
}

table {
    font-size: 1em;
    background-color: #f7f7f7;
    line-height: 1.5em;
}

.table th {
    background-color: #f7f7f7;
}

.btn-primary {
    color: #039be6;
}

ul {
    line-height: normal;
    font-size: 25px;
}

h1 {
    padding-bottom: 20px;
}


/* Siin on modali stiilid */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

/* Modal container */
.modal-container {
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* Adjust Bootstrap modal-content */
.modal-content {
    padding: 20px;
}

/* Ensure the modal title and footer align correctly */
.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
}

.question {
    justify-content: space-between;
    padding-left: 1em;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.answer {
    margin-top: 0.5em;
    padding-left: 1em;
    text-align: center;
}


.col-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.buttons {
    margin-top: 16px;
    align-self: flex-end;
    display: flex;
    gap: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    color: #c37cef;
}